reverb.example.space {
    tls internal


    reverse_proxy app:8080 {
        transport http {
            versions h1.1
        }

        header_up Connection "Upgrade"
        header_up Upgrade {http.request.header.Upgrade}
        header_up Host {host}
    }

}

vite.example.space {
    tls internal
    root * /var/www/public
    encode gzip

    @allowed_origin {
        header_regexp Origin ^https?://(app|www|vite)?\.?example\.space$
    }

    header @allowed_origin {
        Access-Control-Allow-Origin {http.request.header.Origin}
        Access-Control-Allow-Methods "GET, OPTIONS"
        Access-Control-Allow-Headers "*"
        Access-Control-Allow-Credentials true
    }

    log {
        output file /var/log/caddy/access.log
    }

    reverse_proxy app:5173 {
        transport http {
            read_timeout 120s
            write_timeout 120s
        }
    }
}

example.space {
    tls internal
    root * /var/www/public
    encode gzip

    log {
        output file /var/log/caddy/access.log
    }

    request_body {
        max_size 100M
    }

    header {
            Content-Security-Policy "
                connect-src 'self' http://app.testart.space https://app.testart.space ws://app.testart.space wss://app.testart.space ws://app.testart.space:5173 wss://app.testart.space:5173 ws://app.testart.space:8080 wss://app.testart.space:8080;
            "
        }


    handle {
        reverse_proxy app:9000
        file_server
    }
}
